@{
    ViewData["Title"] = "Home Page";
}

<environment names="Development">
    <link rel="stylesheet" href="~/css/Home.css" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/css/Home.min.css" asp-append-version="true" />
</environment>

<div class="banner">
    <img src="~/images/banner-images/banner-1.jpg" alt="Banner" class="img-responsive banner-image" />
</div>

<div class="container">
    <div class="row main-content">
        <p>
            Woofs and Walks was set up four years ago and is now an established dog walking service for Stamford Bridge
            and the surrounding area. We pride ourselves on being a reliable, friendly and professional service.
        </p>

        <p>
            As dog owners ourselves we understand the commitment needed in owning a dog and how its not always easy to
            juggle the day to day demands of everyday life with the demands of having a dog.
        </p>

        <p>
            After meeting you and your best friend we will sit down and tailor a custom package to meet you and your dogs
            needs. We will gather information such as the duration and time of the walk, if you would like your dog socialised
            as part of a pack and if you are happy for us to let them roam off there lead etc. All your requirements will be
            discussed as part of our free consultation.
        </p>

        <p>
            Woofs and walks is fully insured and police checked to give you complete piece of mind. Come rain or shine you
            can be rest assured that your friend is in experienced hands having a great time.
        </p>
    </div>
</div>

<div class="row">

    <div class="col-sm-4 img-circle">
        <p class="feature-title">Dog Walking</p>
        <p class="feature-details">Dog walking is what we do and what we love.</p>
    </div>

    <div class="col-sm-4 img-circle">
        <p class="feature-title">Pet Sitting</p>
        <p class="feature-details">Ideal for nervous pets.</p>
    </div>

    <div class="col-sm-4 img-circle">
        <p class="feature-title">Pet Taxi</p>
        <p class="feature-details">A convenient way to get your pets to the vets!</p>
    </div>

</div>
